<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <h3>about me</h3>
    <p>I am a computer-engineering student with minors in Math and Computer science. I have been programming since my sophomore year of high school,
       and have been involved with technology since I was able to speak. In my free time, I like to <a href="https://scontent-ort2-1.cdninstagram.com/t50.2886-16/15441469_230278287395402_896368200185282560_n.mp4">dance</a> and learn about science/techology.</p>
        <p>
          Contact me by <a href="mailto:joshmartin5001@gmail.com?Subject=I%20saw%20your%20site%20and%20wanted%20to%20contact%20you">Email</a>
        </p>
  </div>
